@import '../../../general';

.section {
  min-width: 260px;
}

.returnButton {
  @include _button;
  margin: auto;
  background-color: rgba($color: #000000, $alpha: .25);
}

.form {
  display: block;
  width: 75vw;
  max-width: 320px;
  background-image: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: calc($marginDesktop / 2);
  margin: $marginDesktop auto;
  padding: $marginDesktopDiv2 $marginDesktop;
}

.header {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: $defaultReactTextColor;
  margin-bottom: $marginDesktopDiv2;
}

.label {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  color: $defaultReactTextColor;
  margin-bottom: 0;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 220px;
  min-height: 32px;
  text-align: center;
  color: rgb(50, 57, 64);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid $disabledReactTextColor;
  margin: auto;

  &:focus {
    border: 0px;
    outline: 0;
    border-bottom: 2px solid royalblue;
  }
}

.fileInput {
  content: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $marginDesktopDiv4 auto;
  text-align: center;
  color: #323940;
  border: 0px;

  &:focus {
    border: 0px;
  }

  &::-webkit-file-upload-button{
    background-color: $highlightedReactTextColor;
    border: 0px;
    color: #d8e2f2;
    border: 0;
    border-radius: $marginDesktopDiv4;
    padding: $marginDesktopDiv4 $marginDesktopDiv2;
    margin: 0 $marginDesktop;
    margin-right: $marginDesktopDiv2;

    &:hover {
      cursor: pointer;
      background-color: royalblue;
      scale: 0.98;
      transition-duration: .3s;
    }
  }       
}

.checkBoxInput {
  width: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: $marginDesktopDiv2;
}

.select {
  position: relative;
  background-color: #ffffff;
  border: 1px solid rgba($color: $disabledReactTextColor, $alpha: .4);
  border-radius: 4px;
  font-size: .9rem;
  padding: 1px;
  

  &:focus {
    padding: 0px;
    outline: 0;
    border: 2px solid royalblue;
  }
}

.selectList {
  position: absolute;
  width: 320px;
  max-height: 256px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: $marginDesktopDiv2;
  z-index: 2;
}

.selectListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  text-align: center;
  list-style-type: none;
  font-size: 1rem;
  color: rgb(50, 57, 64);
  margin: auto;
  bottom: 10px;
  
  &:hover {
    cursor: pointer;
    background-color: rgba($color: #deebff, $alpha: 1);
  }
}

.errorMessage {
  text-align: center;
  color: crimson;
  min-height: 18px;
}

.button {
  @include _button;
  margin: $marginDesktopDiv2 auto;
  background-color: $defaultReactTextColor;

  &Disabled {
    color: $disabledReactTextColor;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;

    &:hover {
      cursor: not-allowed;
      background: #C9CCD3;
      background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
      background-blend-mode: lighten;
      color: $disabledReactTextColor;
      scale: 1;
    }
  }
}

.link {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: $highlightedReactTextColor;    
  }
}