$marginDesctop: 20px;
$marginDesctopDiv2: calc($marginDesctop / 2);
$marginDesctopDiv4: calc($marginDesctop / 4);

$defaultTextColor: #ffdead;
$highlightedTextColor: antiquewhite;

* {
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
}

body {
  min-height: 100vh;
  background: url(./assets/background_stars.png),
    linear-gradient(to top, #09203f 0%, #537895 100%);
}

.header__header {
  text-align: center;
  color: $defaultTextColor;
  padding-top: $marginDesctop;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $marginDesctop;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 200px;
  max-width: 250px;
  border: 1px solid rgba(6, 94, 153, 0.8);
  border-radius: $marginDesctopDiv4;
  margin: $marginDesctopDiv4;
  padding: 4px;

  &:hover {
    cursor: text;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: radial-gradient(
    ellipse,
    rgba(98, 141, 227, 0.5) 0%,
    rgba(6, 94, 153, 0.5) 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  color: $highlightedTextColor;
  border: 0;
  border-radius: $marginDesctopDiv4;
  padding: $marginDesctopDiv4 $marginDesctopDiv2;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to top,
      #0a2d74 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    color: $defaultTextColor;
    scale: 0.95;
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shipBlock {
  display: block;
  width: 300px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: 1px solid rgba($color: #4682b4, $alpha: 0.3);
  border-radius: calc($marginDesctop / 2);
  margin: $marginDesctop;
  padding: $marginDesctopDiv2;
}

.shipBlock__header {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: $highlightedTextColor;
  margin-bottom: $marginDesctopDiv2;
}

.shipBlock_params {
  margin: 0 auto;
}

.params_property {
  text-align: center;
  color: $defaultTextColor;
  margin: $marginDesctopDiv4;
}

.shipBlock__link {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: $defaultTextColor;
  margin: $marginDesctopDiv2 auto;
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
    color: $highlightedTextColor;
  }
}

.user-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: $highlightedTextColor;
  position: absolute;
  top: 0;

  &__loading {
    border-radius: $marginDesctop;
    opacity: 0.8;
  }
}
